<!DOCTYPE html>
{% load static %}
<html>
<head>

    <title>Gethsun Misesi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "/css/style.css" %}" type="text/css">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img src="{% static "/img/45.png" %}" alt="Gethsun Misesi" id="profile-img">
                    <br>
                    <h2>Hello I'm Gethsun.</h2>
                    <br>
                    <small class="text-info font-weight-bold">I Solve Challenges Using The Most Efficient & Effective Methods.</small>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
    </div>



</body>
</html>
